{% if pagination.pages|length > 1 %}
<nav aria-label="Employees navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <button class="btn btn-dark {{ pagination.previous }}">Previous</button>
        </li>
        {% for key, value in pagination.pages.items %}
        <li class="page-item"><button class="btn btn-dark {{ value }}">{{ key }}</button></li>
        {% endfor %}
        <li class="page-item">
            <button class="btn btn-dark {{ pagination.next }}">Next</button>
        </li>
    </ul>
</nav>
{% endif %}